@font-face {
    font-family: 'Mordred';
    src: url('../img/Mordred.ttf');
}

.fondDualMulti {
    text-align: center;
    min-height: 100vh;
    background-image: url(../img/bg_Default.jpg);
    background-size: cover;
    overflow: hidden;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #999;
}

.navlinkChoice {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn1vs1 {
    margin: 50px;
    width: 20vmin;
    text-align: center;
    font-size: 1.2rem;

}

.btn1vs1 button {
    
    text-decoration: none;
    color: #d3b988;
    border-radius: 10px;
    font-size: 2rem;
    background-color: #2d0f0d;
    border: 1px solid black;
    box-shadow: 2px 2px 1px black;
    outline: none;
    height: 100px;
    width: 200px;
}

.btn1vs1 button:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.btnMulti {

    width: 20vmin;
    text-align: center;

}

.btnMulti button {
    text-decoration: none;
    color: #d3b988;
    border-radius: 10px;
    font-size: 2rem;
    background-color: #2d0f0d;
    border: 1px solid black;
    box-shadow: 2px 2px 1px black;
    outline: none;
    height: 100px;
    width: 200px;
}

.btnMulti button:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.textDual {
    margin-top: 20vmin;
    margin-bottom: 10vmin;
    align-content: center;
    justify-content: center;
    text-align: center;
    display: flex;

}

p.TextDualDuel {
    font-size: 1.6rem;
    width: 30vw;

    left: 20vw;
    bottom: 22vh;
    font-family: 'Mordred';
}

.TextDualDuel button:hover {
    transform: scale(1.5);
    cursor: pointer;
}

p.TextDualBR {
    width: 30vw;
    font-size: 3rem;
    left: 55vw;
    bottom: 22vh;
    font-family: 'Mordred';
}

.TextDualBR button:hover {
    transform: scale(1.5);
    cursor: pointer;
}

.ButtonMulti {
    margin-bottom: 150px;
    height: 20vh;
    float: right;
    margin-right: 100px;
    width: 40vh;
}