@font-face {
  font-family: "Mordred";
  src: url("../img/Mordred.ttf");
}

.noSelect {
  outline: none;
}

.choicePage {
  height: 90vmin;
  background-image: url(../img/bg_Default.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;

}

/* 
.container {
  width: 25% !important;
  background-color: transparent;
} */





.oneCharacter {
  padding-bottom: 20px;

  background-color: transparent !important;


  overflow: hidden;
}

.oneCharacter:hover {
  transform: scale(1.2);
}

.btnCharacterGryffondor,
.btnCharacterSerpentard,
.btnCharacterSerdaigle,
.btnCharacterPoufsouffle {

  border: none;
  background-image: url(../img/carteChoiceCharacter.png);
  background-size: cover;
  font-family: "Mordred";
  outline: none;
}

.btnCharacterGryffondor {

  border: none;
  background-image: url(../img/choose_Character_Gryffondor.png);
  background-size: cover;
  outline: none;
}

.btnCharacterSerpentard {
  border: none;
  background-image: url(../img/choose_Character_Serpentard.png);
  background-size: cover;
  outline: none;
}

.btnCharacterSerdaigle {
  border: none;
  background-image: url(../img/choose_Character_Serdaigle.png);
  background-size: cover;
  outline: none;
}

.btnCharacterPoufsouffle {
  border: none;
  background-image: url(../img/choose_Character_Poufsouffle.png);
  background-size: cover;
  outline: none;
}

.oneCharacter img {
  width: 142px;
  height: 142px;
  object-fit: cover;
  padding-top: 7px;
  padding-left: 3px;
}

.nameCarte {
  text-align: center;
  font-size: 2rem;
  /*   color: rgb(45, 15, 13); */
  color: #cebf84;
  text-shadow: 2px 2px 2px black;
}

.blocCenter {

  padding: 1rem;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100vh;
  height: 55vmin;
  align-items: center;
  margin: 0 1em 3em;
  position: relative;
  display: flex;
  /* //flex-wrap: wrap; */
}

.blocLeft {
  position: absolute;
  left: 0;
  margin-top: 5%;
  width: 25%;
  text-align: center;
}

.blocRight {
  position: absolute;
  right: 0;
  margin-top: 5%;
  width: 25%;
  text-align: center;
}

.blocLeft img {
  width: 180px;
  height: 180px;
  object-fit: cover;
}

.blocRight img {
  width: 180px;
  height: 180px;
  object-fit: cover;
}

.imageChoice img {
  width: 180px !important;
  height: 180px;
  object-fit: cover;
}

.carteRight img {
  width: 160px;
  height: auto;
  object-fit: cover;
}

.carteLeft img {
  width: 160px;
  height: auto;
  object-fit: cover;
}

.fondChoice {
  height: 100%;
  width: 100%;
}

.nameChoice {
  text-align: center;
  font-size: 2rem;
  color: rgb(45, 15, 13);
}

/*Début CSS ChoiceCharacter*/
.choicePage {
  padding-top: 60px;
}

.btnStart {
  position: absolute;
  bottom: 6vmin;
  left: 109vmin;
}

.btnStart button {
  padding: 10px;
  font-size: 2rem;
  text-decoration: none;
  color: #d3b988;
  border-radius: 10px;
  background-color: #2d0f0d;
  border: 1px solid black;
  box-shadow: 2px 2px 1px black;
  outline: none;
}

.btnStart button:hover {
  transform: scale(1.5);
}

.btnReset {
  position: absolute;
  bottom: 6vmin;
  left: 83vmin;
}

.btnReset button {
  padding: 10px;
  font-size: 2rem;
  text-decoration: none;
  color: #d3b988;
  border-radius: 10px;
  background-color: #2d0f0d;
  border: 1px solid black;
  box-shadow: 2px 2px 1px black;
  outline: none;
}

.btnReset button:hover {
  transform: scale(1.5);
}


@media (max-width: 1200px) {
  .blocCenter {
    width: 100vh;
    transform: scale(0.9);
    padding: 1rem;
    flex-wrap: wrap;
    justify-content: space-around;
    min-height: 80vmin;
    align-items: center;
    margin: 0 0 0;
    position: relative;

    display: flex;
    /* //flex-wrap: wrap; */
  }
}

@media (max-width: 800px) {
  .blocCenter {
    width: 200vh;
    transform: scale(0.5);
    padding: 1rem;
    flex-wrap: wrap;
    justify-content: space-around;
    min-height: 80vmin;
    align-items: center;
    margin: 0 0 1em;
    position: relative;

    display: flex;
    /* //flex-wrap: wrap; */
  }
}