@font-face {
  font-family: "Mordred";
  src: url("../img/Mordred.ttf");
}

.noSelect {
  outline: none;
}

.choicePageMulti {
  height: 90vmin;
  background-image: url(../img/bg_Default.jpg);
  background-size: cover;
  overflow: hidden;
}

.oneCharacterMulti {
  margin: auto;
  margin-top: 20px;
  background-color: white;
  border: 1px solid black;
  box-shadow: 2px 2px 2px #2d0f0d;
  font-family: "Mordred";
  overflow: hidden;
}

.oneCharacterMulti:hover {
  transform: scale(1.2);
}

.oneCharacterMulti img {
  width: 142px;
  height: 142px;
  object-fit: cover;
  padding-top: 7px;
  padding-left: 4px;
}

.btnCharacterMultiGryffondor {
  border: none;
  background-image: url(../img/choose_Character_Gryffondor.png);
  background-size: cover;
  outline: none;
  font-family: "Mordred";
}

.btnCharacterMultiSerpentard {
  border: none;
  background-image: url(../img/choose_Character_Serpentard.png);
  background-size: cover;
  outline: none;
  font-family: "Mordred";
}

.btnCharacterMultiSerdaigle {
  border: none;
  background-image: url(../img/choose_Character_Serdaigle.png);
  background-size: cover;
  outline: none;
  font-family: "Mordred";
}

.btnCharacterMultiPoufsouffle {
  border: none;
  background-image: url(../img/choose_Character_Poufsouffle.png);
  background-size: cover;
  outline: none;
  font-family: "Mordred";
}

.nameCarte {
  text-align: center;
  font-size: 2rem;
  color: #cebf84;
  text-shadow: 2px 2px 2px black;
  font-family: "Mordred";
}

.btnCharacterMultiGryffondor:hover {
  cursor: pointer;
}

.btnCharacterMultiSerpentard:hover {
  cursor: pointer;
}

.btnCharacterMultiSerdaigle:hover {
  cursor: pointer;
}

.btnCharacterMultiPoufsouffle:hover {
  cursor: pointer;
}

.blocCenterMulti {
  margin: auto;
  width: 50%;
  display: flex;
  flex-wrap: wrap;
}

.blocLeftMulti {
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 10%;
  margin-left: 3%;
  width: 25%;
  text-align: center;
  height: 100%;
}

.choiceLT {
  height: 35%;
  width: 100%;
}

.choiceRB {
  height: 35%;
  width: 100%;
  float: left;
}

.flag {
  width: 70%;
}

.imageName {
  width: 40%;
  float: left;
  height: 100%;
}

.imageName img {
  width: 15vmin;
  height: auto;
  object-fit: cover;
}

.blocLeftBottom {
  position: absolute;
  left: 0;
  bottom: -5vmin;
  width: 25%;
  text-align: center;
}

.blocRightMulti {
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 10%;
  width: 25%;
  text-align: center;
  margin-left: 3%;
  height: 100%;
}

.blocRightBottom {
  position: absolute;
  right: 0;
  bottom: -5vmin;
  width: 25%;
  text-align: center;
}

/* .characterLeft {
  width: 180px;
  height: 180px;
  object-fit: cover;
}

.characterLeftBottom {
  width: 180px;
  height: 180px;
  object-fit: cover;
} */

.characterRight {
  width: 180px;
  height: 180px;
  object-fit: cover;
}

.characterRightBottom {
  width: 180px;
  height: 180px;
  object-fit: cover;
}

.houseImgRight {
  width: 40%;
  height: auto;
  object-fit: cover;
  float: left;
}

.houseImgRightBottom {
  padding-right: 3vmin;
  padding-left: 3vmin;
  width: 110px;
  height: auto;
  object-fit: cover;
}

.houseImgLeft {
  width: 40%;
  height: auto;
  object-fit: cover;
  float: left;
}

.houseImgLeftBottom {
  padding-right: 3vmin;
  padding-left: 3vmin;
  width: 110px;
  height: auto;
  object-fit: cover;
}

/* .btnFond {
  width: 100%;
  height: 100%;
  background-image: url(../img/carteChoiceCharacter.png);
  background-size: cover;
} */

.fondChoiceMulti {
  height: 100%;
  width: 100%;
}

.nameChoiceLeft {
  text-align: center;
  font-size: 2rem;
  color: rgb(45, 15, 13);
  margin-top: 10%;
  height: 20px;
  font-family: "Mordred";
}

.nameChoiceLeftBottom {
  margin-top: -2vmin;
  margin-left: -20vmin;
  text-align: center;
  font-size: 2rem;
  color: rgb(45, 15, 13);
}

.nameChoiceRight {
  margin-top: -2vmin;
  margin-right: -20vmin;
  text-align: center;
  font-size: 2rem;
  color: rgb(45, 15, 13);
  font-family: "Mordred";
}

.nameChoiceRightBottom {
  margin-top: -2vmin;
  margin-right: -20vmin;
  text-align: center;
  font-size: 2rem;
  color: rgb(45, 15, 13);
}

.nameChoiceCenter {
  text-align: center;
  font-size: 2rem;
  color: rgb(45, 15, 13);
}

/*Début CSS ChoiceCharacter*/
.choicePageMulti {
  padding-top: 60px;
}

.btnStartMulti {
  position: absolute;
  bottom: 6vmin;
  left: 110vmin;
}

.btnStartMulti button {
  padding: 6px;
  font-size: 2rem;
  text-decoration: none;
  color: #d3b988;
  border-radius: 10px;
  background-color: #2d0f0d;
  border: 1px solid black;
  box-shadow: 2px 2px 1px black;
  outline: none;
}

.btnStartMulti button:hover {
  transform: scale(1.5);
  cursor: pointer;
}

.btnResetMulti {
  position: absolute;
  bottom: 6vmin;
  left: 70vmin;
}

.btnResetMulti button {
  padding: 6px;
  font-size: 2rem;
  text-decoration: none;
  color: #d3b988;
  border-radius: 10px;
  background-color: #2d0f0d;
  border: 1px solid black;
  box-shadow: 2px 2px 1px black;
  outline: none;
}

.btnResetMulti button:hover {
  transform: scale(1.5);
  cursor: pointer;
}

.ChoiceCharacterMultitoHome {
  position: absolute;
  top: 1vmin;
  margin-left: 3vmin;
  text-decoration: underline;
  color: #d3b988;
}

.effectimageLB {
  top: 30vh;
  position: absolute;
  height: 90vmin;
  left: 26vw;
  z-index: 5;
  transform: rotate(180deg);
}

.effectimageL {
  bottom: 20vh;
  position: absolute;
  height: 90vmin;
  left: 26vw;
  z-index: 5;
  transform: rotate(180deg);
}

.effectimageRB {
  top: 30vh;
  position: absolute;
  height: 90vmin;
  right: 25vw;
  z-index: 5;
}

.effectimageR {
  bottom: 20vh;
  position: absolute;
  height: 90vmin;
  right: 25vw;
  z-index: 5;
}