.AppMulti1 {
    text-align: center;
    height: 100vmin;
    background-image: url(../img/BgGameMulti.jpg);
    background-repeat: no-repeat;
    z-index: -2;
    background-size: cover;
}

.AppMulti2 {
    text-align: center;
    height: 100vmin;
    background-image: url(../img/BgGameMultiCastle.jpg);
    background-repeat: no-repeat;
    z-index: -2;
    background-size: cover;
}

.AppMulti3 {
    text-align: center;
    height: 100vmin;
    background-image: url(../img/BgGameMultiCastle1.jpg);
    background-repeat: no-repeat;
    z-index: -2;
    background-size: cover;
}

.blocPlayerLeft {
    height: 100%;
    width: 25%;
    float: left;
    margin-left: 5%;
    margin-top: 10%;
    text-align: center;
}

.blocPlayerLeft img {
    width: auto;
    height: 40vmin;
    object-fit: cover;
    float: left;
    margin-top: 10px;
    padding-left: 20px;
    margin-right: 30px;
}

.playerLeftTop {
    height: 35%;
    margin-top: 12%;
}

.playerLeftBottom {
    height: 35%;
    margin-top: 4%;
}

.blocPlayerRight {
    height: 100%;
    width: 25%;
    float: right;
    margin-top: 10%;
    text-align: center;
    margin-left: 10px;
}

.blocPlayerRight img {
    width: auto;
    height: 40vmin;
    object-fit: cover;
    float: left;
    margin-top: 10px;
    padding-right: 20px;
}

.playerRightTop {
    height: 35%;
    margin-top: 12%;
}

.playerRightBottom {
    height: 35%;
    margin-top: 4%;
}

.barLT {
    width: 300px;
    float: left;
    margin-top: 11%;
    margin-left: -35%;
}

.barRT {
    width: 300px;
    float: right;
    margin-top: 11%;
    margin-right: -30%;
}

.barLB {
    width: 300px;
    float: left;
    margin-top: 18%;
    margin-left: -35%;
}

.barRB {
    width: 300px;
    float: right;
    margin-top: 18%;
    margin-right: -30%;
}

.fillerLT {
    background: #1da598;
    height: 100%;
    border-radius: inherit;
    transition: width 0.2s ease-in;
    width: 300px;
}

.fillerRT {
    background: #1da598;
    height: 100%;
    border-radius: inherit;
    transition: width 0.2s ease-in;
    width: 300px;
}

.fillerLB {
    background: #1da598;
    height: 100%;
    border-radius: inherit;
    transition: width 0.2s ease-in;
    width: 300px;
}

.fillerRB {
    background: #1da598;
    height: 100%;
    border-radius: inherit;
    transition: width 0.2s ease-in;
    width: 300px;
}

.health-bar-lt {
    height: 20px;
    width: 300px;
    border-radius: 50px;
    border: 1px solid #333;
    float: left;
    margin-top: 0;
}

.health-bar-rt {
    height: 20px;
    width: 300px;
    border-radius: 50px;
    border: 1px solid #333;
    float: right;
    margin-top: 0;
}

.health-bar-lb {
    height: 20px;
    width: 300px;
    border-radius: 50px;
    border: 1px solid #333;
    float: left;
    margin-top: 200px;
}

.health-bar-rb {
    height: 20px;
    width: 300px;
    border-radius: 50px;
    border: 1px solid #333;
    float: right;
    margin-top: 200px;
}


/* .playerLeft img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin-top: 140%;
} */

.playerRight {
    height: 95vmin;
    float: right;
    margin-right: 30px;
    margin-top: 0;
}


/* .playerRight img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin-top: 140%;
} */

.boutonImageLeft {
    width: 35%;
    float: left;
}

.boutonImageLeft img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    float: left;
    margin-top: 10px;
    padding-right: 20px;
}

.boutonImageRight {
    width: 40%;
    float: right;
}

.boutonImageRight img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    float: left;
    margin-top: 10px;
    padding-right: 20px;
}

.drapeauMultiGryffondor {
    background-image: url(../img/drapeauMultiGriffondor.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 80%;
    width: 40%;
    margin-left: 20px;
    float: left;
}

.drapeauMultiSerpentard {
    background-image: url(../img/drapeauMultiSerpentard.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 80%;
    width: 40%;
    float: left;
    margin-left: 20px;
}

.drapeauMultiPoufsouffle {
    background-image: url(../img/drapeauMultiPoufsouffle.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 80%;
    width: 40%;
    float: left;
    margin-left: 20px;
}

.drapeauMultiSerdaigle {
    background-image: url(../img/drapeauMultiSerdaigle.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 80%;
    width: 40%;
    float: left;
    margin-left: 20px;
}

.sortsMulti {
    width: 70%;
    margin: 0 auto;
}

.sortsMulti img {
    text-align: center;
    /* padding-right: 60px; */
    padding-top: 50px;
    padding-right: 85px;
}


.effectimageLM {
    top: 18vh;
    position: absolute;
    left: 26vw;
    z-index: 5;
    transform: rotate(180deg);
}

.effectimageLBM {
    top: 55vh;
    position: absolute;
    left: 26vw;
    z-index: 5;
    transform: rotate(180deg);
}

.effectimageRM {
    top: 18vh;
    position: absolute;
    height: 90vmin;
    right: 25vw;
    z-index: 5;
}

.effectimageRBM {
    top: 55vh;
    position: absolute;
    height: 90vmin;
    right: 25vw;
    z-index: 5;
}


.deLCoolM {
    font-family: "paladinFLF";
    font-size: 40px;
    position: absolute;
    margin-left: 180px;
    margin-top: 10%;
    color: rgb(0, 194, 0);
    text-shadow: 0px 5px 2px rgba(0, 0, 0, 0.1), 5px 10px 1px rgba(0, 0, 0, 0.05);
}

.deRCoolM {
    font-family: "paladinFLF";
    font-size: 40px;
    position: absolute;
    margin-top: 10%;
    margin-left: 810px;
    color: rgb(0, 194, 0);
    text-shadow: 0px 5px 2px rgba(0, 0, 0, 0.1), 5px 10px 1px rgba(0, 0, 0, 0.05);
}

.deLBCoolM {
    font-family: "paladinFLF";
    font-size: 40px;
    position: absolute;
    margin-left: 180px;
    margin-top: 28%;
    color: rgb(0, 194, 0);
    text-shadow: 0px 5px 2px rgba(0, 0, 0, 0.1), 5px 10px 1px rgba(0, 0, 0, 0.05);
}

.deRBCoolM {
    font-family: "paladinFLF";
    font-size: 40px;
    position: absolute;
    margin-left: 810px;
    margin-top: 28%;
    color: rgb(0, 194, 0);
    text-shadow: 0px 5px 2px rgba(0, 0, 0, 0.1), 5px 10px 1px rgba(0, 0, 0, 0.05);
}

.deLPasCoolM {
    font-family: "paladinFLF";
    font-size: 40px;
    position: absolute;
    margin-left: 180px;
    margin-top: 10%;
    color: rgb(218, 0, 0);
    text-shadow: 0px 5px 2px rgba(0, 0, 0, 0.1), 5px 10px 1px rgba(0, 0, 0, 0.05);
}

.deRPasCoolM {
    font-family: "paladinFLF";
    font-size: 40px;
    position: absolute;
    margin-top: 10%;
    margin-left: 810px;
    color: rgb(218, 0, 0);
    text-shadow: 0px 5px 2px rgba(0, 0, 0, 0.1), 5px 10px 1px rgba(0, 0, 0, 0.05);
}

.deLBPasCoolM {
    font-family: "paladinFLF";
    font-size: 40px;
    position: absolute;
    margin-left: 180px;
    margin-top: 28%;
    color: rgb(218, 0, 0);
    text-shadow: 0px 5px 2px rgba(0, 0, 0, 0.1), 5px 10px 1px rgba(0, 0, 0, 0.05);
}

.deRBPasCoolM {
    font-family: "paladinFLF";
    font-size: 40px;
    position: absolute;
    margin-left: 810px;
    margin-top: 28%;
    color: rgb(218, 0, 0);
    text-shadow: 0px 5px 2px rgba(0, 0, 0, 0.1), 5px 10px 1px rgba(0, 0, 0, 0.05);
}

.gameToHome {
    position: absolute;
    top: 1vmin;
    left: 3vmin;
    color: #d3b988;
    text-decoration: underline;
}

.toucheS {
    padding-top: 630px;
    width: 100px;
    height: 100px;
    float: left;
}

.toucheL {
    padding-top: 630px;
    width: 100px;
    height: 100px;
    z-index: -1;
    float: right;
}

.GameMultiToHome {
    position: absolute;
    top: 1vmin;
    left: 3vmin;
    color: #d3b988;
    text-decoration: underline;
}